/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
  /*text-align: center;*/
  background:#56F5EE;
}


div {
  margin: 7px 0;
}

h1 {
  text-align: center;
  font-size: 22px;
  font-family: Helvetica;
  color: #1d781d;
}

h2 {
  text-align: center;
  margin:auto;
  margin-bottom:20px;
  font-size:20px;
  font-family:georgia;
  color: #1d781d;
}

label {
  color: #1d781d;
}

p {
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  text-align:center;
  color: #1d781d;
}

header {
  margin: auto;
  width: 85%;
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background:#CEF5EE;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width:80%;
  background:#CEF5EE;
  text-align: center;
  border-radius: 20px;
  margin:auto;
  margin-top:20px;
  padding:20px;
  justify-content: space-evenly;
}

button {
  width: 120px;
  height:48px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 7px;
  border-radius: 20px;
  color: #1d781d;
  background:#56F5EE;
  font-size:25px;
  font-family: 'Segoe UI', sans-serif;
}


@media all and (min-width: 800px) {

  .mobile {
    display: flex;
    flex-direction: row;
  }

  header {
    width:60%;
  }

  input {
    margin-left: 20px;
  }

  p {
    font-size: 22px;
  }

  label {
    font-size: 22px;
  }

  form {
    text-align: left;
    margin-left:20%;
    width:40%;
  }
    
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

}
