/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

form {
  display: flex;
  flex-direction: column;
}

body {
  text-align: center;
}

button {
  width: 75px;
  margin: auto;
  margin-top: 5px;
}